<p>
  <b>User:</b>
  <%= @task_context.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @task_context.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task_context.description %>
</p>


<%= link_to 'Edit', edit_task_context_path(@task_context) %> |
<%= link_to 'Back', task_contexts_path %>
